@charset "UTF-8";

:root { /* Paleta de cores */
    --c1: #E37D17;
    --c2: #964B00;
    --c3: #00394A;
    --c4: #007396;
}

/* Configuração geral */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    background-color: var(--c4);
    height: 100vh;
    width: 100vw;
}


/* Configurações do main */
main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
    
    transform: translate(-50%, -50%);
    transition: width 0.4s, height 0.4s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    background: var(--c4) url("../imagens/back-login.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}


/* Configurações do formulário */
div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: var(--c4);
    border: 2px solid var(--c4);
    height: 40px;
    border-radius: 7px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: var(--c3);
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 7px;
    padding: 4px;
    transform: translateY(-12px);
}

div.campo > input:focus-within {
    background-color: white;
    border: none;
}

form > input[type=submit]:hover {
    background-color: var(--c2);
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--c1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: var(--c2);
    border: 1px solid var(--c2);
    border-radius: 7px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: var(--c1);
}

form > a.botao > span {
    font-size: 0.8em;
}